<!DOCTYPE html>
<html>
<head>
    <title>Pengeluaran Barang</title>
</head>

<body>

    <h1>Pengeluaran Barang</h1>

    <a href="/">Kembali ke Menu</a>

    <hr>

    <table border="1">

        <tr>
            <th>ID</th>
            <th>No Transaksi</th>
            <th>Warehouse</th>
            <th>Tanggal</th>
            <th>Customer</th>
            <th>Catatan</th>
            <th>Product</th>
            <th>Qty Dus</th>
            <th>Qty Pcs</th>
        </tr>

        {% for row in data %}

        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>{{ row[8] }}</td>
        </tr>

        {% endfor %}

    </table>

</body>
</html>